# Python Data Structures and Boolean
* Boolean
* Boolean and Logical Operators
* Lists
* Comparison operators
* Dictionaries
* Tuples
* Sets

## Boolean Variables
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
True

True

In [2]:
type(True)

bool

In [4]:
print(True,False)

True False

In [8]:
str1 = "Rohit"

In [9]:
str1.istitle()

True

In [10]:
str1.isdigit()

False

In [12]:
str1.isupper()

False

In [13]:
print(str1.isalnum())         #check if all char are numbers
print(str1.isalpha())         #check if all char in the string are alphabetic
print(str1.isdigit())         #test if string contains digits
print(str1.istitle())         #test if string contains title words
print(str1.isupper())         #test if string contains upper case
print(str1.islower())         #test if string contains lower case
print(str1.isspace())         #test if string contains spaces
print(str1.endswith('k'))     #test if string endswith a d
print(str1.startswith('K'))   #test if string startswith H

True
True
False
True
False
False
False
False
False

### Boolean and Logical Operators

In [14]:
True and False

False

In [15]:
True and True

True

In [16]:
False and True

False

In [17]:
False and False

False

In [18]:
True or False

True

In [19]:
True or True

True

In [20]:
False or True

True

In [21]:
False or False

False

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [23]:
lst = []

In [24]:
type(lst)

list

In [25]:
a = list()

In [27]:
type(a)

list

In [40]:
b= [12,23,75,"Rohit","Kumar"]

In [29]:
type(b)

list

In [30]:
print(b)

[12, 23, 75, 'Rohit', 'Kumar']

In [31]:
b

[12, 23, 75, 'Rohit', 'Kumar']

In [32]:
len(b)

5

# Append

In [41]:
# append is used to add elements in the list
b.append("James")

In [42]:
b

[12, 23, 75, 'Rohit', 'Kumar', 'James']

In [43]:
b.append(["John","Bala"])  # append will consider the values as single record

In [45]:
b  ## Nested List

[12, 23, 75, 'Rohit', 'Kumar', 'James', ['John', 'Bala']]

In [52]:
## Indexing :- start with 0
print(b[0])
print(b[4])

12
Kumar

In [58]:
b[5:7]  # start with 5 and end on n-1=7-1=6

['James', ['John', 'Bala']]

# Insert

In [61]:
b.insert(2,'Dev')  # Dev value now will inser on inder 2 and the value that was on 2nd index now it will be on index 3.

In [62]:
b

[12, 23, 'Dev', 'Dev', 75, 'Rohit', 'Kumar', 'James', ['John', 'Bala']]

# Extend

In [63]:
c= [1,2,4,6,7]

In [109]:
for i in c:
    print(i)

4
6
7
23
43
23
43
23
1
2
4
2
5

In [66]:
c.extend([23,43])   # extend will treat the values as individual value.
c

[1, 2, 4, 6, 7, 23, 43, 23, 43, 23, 43]

### Various Operations that we can perform in List

In [67]:
c

[1, 2, 4, 6, 7, 23, 43, 23, 43, 23, 43]

In [69]:
sum(c)

218

In [71]:
c * 2

[1, 2, 4, 6, 7, 23, 43, 23, 43, 23, 43, 1, 2, 4, 6, 7, 23, 43, 23, 43, 23, 43]

# pop method()
## delete the last element into the list.

In [73]:
c.pop()

43

In [74]:
c

[1, 2, 4, 6, 7, 23, 43, 23, 43, 23]

In [76]:
c.pop(0)  # delete the 0th index value

2

In [77]:
c.extend([1,2,4,2,5])

In [78]:
c

[4, 6, 7, 23, 43, 23, 43, 23, 1, 2, 4, 2, 5]

In [80]:
c.count(4)

2

In [81]:
max(c)

43

In [82]:
min(c)

1

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [83]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [84]:
set_var={1,2,5,7,24,65}

In [85]:
type(set_var)

set

In [86]:
## Inbuilt function in sets

set_var.add("Rohit")

In [87]:
set_var

{1, 2, 24, 5, 65, 7, 'Rohit'}

In [88]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [93]:
print(set1.difference(set2))
print(set2.difference(set1))
print(set2.intersection(set1))

set()
{'Hulk2'}
{'Hitman', 'IronMan', 'Avengers'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [96]:
dic ={}

In [97]:
type(dic)

dict

In [101]:
##  create a dictionary   key: value

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [102]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz'}

In [103]:
type(my_dict)

dict

In [105]:
##Access the item values based on keys

my_dict['Car2']

'BMW'

In [107]:
my_dict.keys()

dict_keys(['Car1', 'Car2', 'Car3'])

In [108]:
my_dict.values()

dict_values(['Audi', 'BMW', 'Mercidies Benz'])

In [110]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [111]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [113]:
my_dict['Car1']= "Porsche"  # mutable

In [114]:
my_dict

{'Car1': 'Porsche',
 'Car2': 'BMW',
 'Car3': 'Mercidies Benz',
 'car4': 'Audi 2.0'}

# Nested Dictionary

In [115]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [117]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [120]:
## Accessing the items in the dictionary

print(car_type["car1"]['Mercedes'])

1960

# Tuples

In [126]:
a= ()
b= tuple()

In [127]:
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [133]:
my_tuple=('Hello','World')

In [134]:
my_tuple

('Hello', 'World')

In [136]:
## Inbuilt function
my_tuple.count('Hello')

1